includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 2
    paths:
        - .
    excludePaths:
        analyseAndScan:
            - vendor
    scanDirectories:
        - .
    bootstrapFiles:
        - phpstan-bootstrap.php
